@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: transparent;
}

.MainContent {
  width: 90%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.MainContent--transform {
  -webkit-transform: translateY(-50.8%);
          transform: translateY(-50.8%);
}

.SetUp::after, .SetUp::before {
  content: " ";
  clear: both;
  display: table;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote {
  display: block;
  font-size: 20px;
  text-shadow: 2px 2px 1px rgba(157, 134, 134, 0.4);
  text-align: left;
}

.quote--modification {
  color: #16bfda;
  font-size: 1.8rem;
}

.card, .services__service, .article__ArticleCards {
  display: column;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: auto;
  -webkit-box-shadow: 0 0 8px 0 #6c757d;
          box-shadow: 0 0 8px 0 #6c757d;
  border: 1px solid transparent;
}

.card--GallerySingle {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.card--brandcard {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.media {
  text-shadow: 2px 2px 1px rgba(157, 134, 134, 0.4);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: #343a40;
}

.media:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #2e343c;
}

.btn, .services__btnService {
  text-align: center;
  width: 70%;
  display: block;
  text-transform: capitalize;
  height: auto;
  padding: 5%;
  border: 1px solid #16bfda;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
  font-weight: 900;
  color: white;
}

h2 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #f8f9fa;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #343a40;
}

h4 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #343a40;
}

h5 {
  font-size: 1rem;
  font-weight: 200;
  color: #343a40;
}

h6 {
  font-size: 0.9rem;
  font-weight: 200;
  color: #343a40;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justified {
  text-align: justified;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-7 {
  padding-top: 70px;
}

.pt-8 {
  padding-top: 80px;
}

.pt-9 {
  padding-top: 90px;
}

.pt-10 {
  padding-top: 100px;
}

.pt-11 {
  padding-top: 110px;
}

.pt-12 {
  padding-top: 120px;
}

.pt-13 {
  padding-top: 130px;
}

.pt-14 {
  padding-top: 140px;
}

.pt-15 {
  padding-top: 150px;
}

.pt-16 {
  padding-top: 160px;
}

.pt-17 {
  padding-top: 170px;
}

.pt-18 {
  padding-top: 180px;
}

.pt-19 {
  padding-top: 190px;
}

.pt-20 {
  padding-top: 200px;
}

.pt-21 {
  padding-top: 210px;
}

.pt-22 {
  padding-top: 220px;
}

.pt-23 {
  padding-top: 230px;
}

.pt-24 {
  padding-top: 240px;
}

.pt-25 {
  padding-top: 250px;
}

.pt-26 {
  padding-top: 260px;
}

.pt-27 {
  padding-top: 270px;
}

.pt-28 {
  padding-top: 280px;
}

.pt-29 {
  padding-top: 290px;
}

.pt-30 {
  padding-top: 300px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pb-11 {
  padding-bottom: 110px;
}

.pb-12 {
  padding-bottom: 120px;
}

.pb-13 {
  padding-bottom: 130px;
}

.pb-14 {
  padding-bottom: 140px;
}

.pb-15 {
  padding-bottom: 150px;
}

.pb-16 {
  padding-bottom: 160px;
}

.pb-17 {
  padding-bottom: 170px;
}

.pb-18 {
  padding-bottom: 180px;
}

.pb-19 {
  padding-bottom: 190px;
}

.pb-20 {
  padding-bottom: 200px;
}

.pb-21 {
  padding-bottom: 210px;
}

.pb-22 {
  padding-bottom: 220px;
}

.pb-23 {
  padding-bottom: 230px;
}

.pb-24 {
  padding-bottom: 240px;
}

.pb-25 {
  padding-bottom: 250px;
}

.pb-26 {
  padding-bottom: 260px;
}

.pb-27 {
  padding-bottom: 270px;
}

.pb-28 {
  padding-bottom: 280px;
}

.pb-29 {
  padding-bottom: 290px;
}

.pb-30 {
  padding-bottom: 300px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.mt-11 {
  margin-top: 110px;
}

.mt-12 {
  margin-top: 120px;
}

.mt-13 {
  margin-top: 130px;
}

.mt-14 {
  margin-top: 140px;
}

.mt-15 {
  margin-top: 150px;
}

.mt-16 {
  margin-top: 160px;
}

.mt-17 {
  margin-top: 170px;
}

.mt-18 {
  margin-top: 180px;
}

.mt-19 {
  margin-top: 190px;
}

.mt-20 {
  margin-top: 200px;
}

.mt-21 {
  margin-top: 210px;
}

.mt-22 {
  margin-top: 220px;
}

.mt-23 {
  margin-top: 230px;
}

.mt-24 {
  margin-top: 240px;
}

.mt-25 {
  margin-top: 250px;
}

.mt-26 {
  margin-top: 260px;
}

.mt-27 {
  margin-top: 270px;
}

.mt-28 {
  margin-top: 280px;
}

.mt-29 {
  margin-top: 290px;
}

.mt-30 {
  margin-top: 300px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.mb-11 {
  margin-bottom: 110px;
}

.mb-12 {
  margin-bottom: 120px;
}

.mb-13 {
  margin-bottom: 130px;
}

.mb-14 {
  margin-bottom: 140px;
}

.mb-15 {
  margin-bottom: 150px;
}

.mb-16 {
  margin-bottom: 160px;
}

.mb-17 {
  margin-bottom: 170px;
}

.mb-18 {
  margin-bottom: 180px;
}

.mb-19 {
  margin-bottom: 190px;
}

.mb-20 {
  margin-bottom: 200px;
}

.mb-21 {
  margin-bottom: 210px;
}

.mb-22 {
  margin-bottom: 220px;
}

.mb-23 {
  margin-bottom: 230px;
}

.mb-24 {
  margin-bottom: 240px;
}

.mb-25 {
  margin-bottom: 250px;
}

.mb-26 {
  margin-bottom: 260px;
}

.mb-27 {
  margin-bottom: 270px;
}

.mb-28 {
  margin-bottom: 280px;
}

.mb-29 {
  margin-bottom: 290px;
}

.mb-30 {
  margin-bottom: 300px;
}

.typed-cursor {
  color: #d6ddec;
}

.typed-cursor--blink {
  -webkit-animation: typedjsBlink 1s infinite;
          animation: typedjsBlink 1s infinite;
}

#header {
  background-color: #343a40;
}

.header {
  width: 100%;
  height: auto;
}

.header__hero {
  width: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  top: 0;
}

.header__hero::before {
  width: 100%;
  height: 100%;
  top: 0;
  content: " ";
  position: absolute;
  background-color: #080707;
  z-index: -2;
  opacity: .45;
}

.header__hero::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 40px;
  bottom: -12px;
  left: 0;
  display: block;
  background: linear-gradient(-45deg, transparent 33%, #fff 33.33%, #fff 66.666%, transparent 66.66%);
  background-size: auto;
  background-size: 5px 32px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__MainHeader {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.header__logo {
  width: 30%;
  height: auto;
  float: left;
}

.header__companyLogo {
  width: 35%;
  height: auto;
  cursor: pointer;
}

.header__nav {
  width: 55%;
  height: auto;
  float: left;
  padding: 2px 0px;
  margin-left: 15%;
  margin-top: 0.5%;
}

.header__Navigation {
  margin-left: 35%;
}

.header__NavAnchor {
  color: #f8f9fa;
  padding: 16px 3px;
  font-weight: 500;
  position: relative;
  font-size: 1rem;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.header__NavAnchor::before {
  width: 80%;
  height: 3%;
  position: absolute;
  content: " ";
  background-color: #f8f9fa;
  left: 11%;
  top: 72%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  display: none;
}

.header__NavAnchor:hover {
  color: #aeafb1;
}

.header__NavAnchor:hover::before {
  display: block;
}

.header__bannerContent {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.header__bannerTitle {
  width: 100%;
  height: auto;
}

.header__heroTitle {
  text-shadow: 0 0 8px #6c757d;
  padding-bottom: 10px;
}

.header__autotype {
  color: #d6ddec;
}

.header__heroSecondTitle {
  font-style: italic;
  font-weight: 400;
  text-shadow: 0 0 8px #6c757d;
}

.header__bannerParagraph {
  width: 100%;
  height: auto;
}

.header__heroDiscription {
  color: #f8f9fa;
  padding-bottom: 6%;
  font-weight: 300;
  font-size: 1.163rem;
  line-height: 28px;
  text-shadow: 0 0 8px #6c757d;
  font-style: italic;
}

.header__button {
  width: 90%;
  height: auto;
  padding: 2%;
  margin: 0 auto;
}

.header__btn {
  width: 30%;
  height: auto;
  background-color: #f8faff;
  color: #343a40;
  display: inline-block;
  border: 1px solid transparent;
  padding: 17px 17px 21px 17px;
  border-radius: 33px 33px 33px 33px;
  font-weight: 400;
  font-size: 1.09rem;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.header__btn:first-child {
  width: 27%;
  margin-right: 25px;
}

.header__btn:first-child:hover {
  background-color: #d6ddec;
}

.header__btn:last-child {
  color: #f8faff;
  background-color: #007bff;
}

.header__btn:last-child:hover {
  background-color: #2186f1;
}

.speciality {
  width: 100%;
  height: 140px;
  background-color: white;
}

.speciality__CompanyOffers {
  width: 100%;
  height: auto;
}

.speciality__Cards {
  width: 70%;
  height: auto;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid transparent;
  background-color: #f8faff;
  border-radius: 13px 13px 13px 13px;
  -webkit-box-shadow: 0 0 8px 0 #0a0a0a;
          box-shadow: 0 0 8px 0 #0a0a0a;
  position: absolute;
  -webkit-transform: translateX(13%);
          transform: translateX(13%);
  margin-top: -18%;
  z-index: 2;
}

.speciality__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #007bff;
  background-color: #d6ddec;
  border: 1px solid transparent;
  cursor: pointer;
}

.mainFeatures {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}

.mainFeatures::before {
  position: absolute;
  content: " ";
  width: 12%;
  height: 37%;
  top: -42px;
  left: -19px;
  background-image: url("../images/svg/bluered.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.mainFeatures::after {
  position: absolute;
  content: " ";
  width: 6%;
  height: 38%;
  top: 10%;
  left: 84%;
  background-image: url("../images/svg/bluered.png");
  background-position: right;
  background-repeat: no-repeat;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

.mainFeatures__mainCard {
  width: 100%;
  height: auto;
}

.mainFeatures__contents, .about__contentPart, .services__Titlepart, .gallery__GalleryDescription, .brand__BrandBrief, .article__ContentDetails {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 4%;
}

.mainFeatures__featureTitle, .about__aboutHeading, .team__heading, .Testimonials__testimonialTitle, .services__ServiceTitle, .gallery__galleryTitle, .brand__BrandHeading, .article__TitleMain {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-shadow: 0 0 8px rgba(20, 20, 20, 0.2);
  margin-bottom: 2%;
}

.mainFeatures__featurediscription, .about__aboutTitleExplanation, .about__aboutDetail, .team__teamDescription, .Testimonials__testimonialDescription, .services__serviceBrief, .gallery__GalleryDetail, .brand__BrandParagraph, .article__ParagraphBox {
  color: #17a2b8;
  font-size: 18px;
  line-height: 40px;
}

.mainFeatures__featurediscription--service {
  font-size: 1.1rem;
  color: #343a40;
}

.mainFeatures__cardSpecification, .team__teamMemberCard, .Testimonials__TestimonialsMainBody {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
}

.mainFeatures__specification, .team__teamCard, .Testimonials__testimony {
  display: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 3%;
  -webkit-box-shadow: 0 0 8px 0 #dddfe6;
          box-shadow: 0 0 8px 0 #dddfe6;
}

.mainFeatures__icon, .mainFeatures__IconTitle, .mainFeatures__IconDescription {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainFeatures__featureIcon {
  width: 30%;
  height: auto;
  overflow: hidden;
  padding: 5%;
}

.mainFeatures__IconHeading {
  font-size: 0.96rem;
  font-weight: 500;
  word-spacing: 2.2px;
  padding-bottom: 5%;
}

.mainFeatures__IconDetails {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 8%;
}

.about {
  width: 100%;
  height: auto;
  background-color: white;
}

.about__contentPart {
  position: relative;
}

.about__contentPart::before {
  content: " ";
  position: absolute;
  background-image: url("../images/svg/aboutIcon.svg");
  width: 48%;
  height: 25%;
  top: -10px;
  left: -26%;
  z-index: 3;
  -webkit-transform: rotate(-47deg);
          transform: rotate(-47deg);
}

.about__contentPart::after {
  content: " ";
  position: absolute;
  background-image: url("../images/svg/aboutIcon.svg");
  width: 20%;
  height: 56%;
  top: 47%;
  left: 85%;
  z-index: 3;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.about__aboutTitle, .about__aboutDescription, .Testimonials__testimonialHeader {
  width: 100%;
  height: auto;
}

.about__aboutDetail {
  color: #343a40;
  line-height: 35px;
}

.team {
  width: 100%;
  height: auto;
  background-color: white;
}

.team__TotalContent {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.team__teamBrief {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 4%;
}

.team__teamCard {
  padding: 0;
}

.team__teamPicture, .article__ImageBox {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.team__teamPlayer {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.team__teamPlayer:hover {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.team__teamCardTitle {
  width: 100%;
  height: auto;
  padding: 11%;
}

.team__companyRank {
  width: 100%;
  height: auto;
  display: block;
  font-size: .88rem;
}

.team__playerWords, .Testimonials__text {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.team__playerOpinion, .Testimonials__textdetails {
  font-size: .78rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  color: #17a2b8;
}

.team__playerSocialMedia {
  width: 80%;
  height: auto;
  margin: 0 auto;
  -webkit-transform: translate(9%);
          transform: translate(9%);
  padding-bottom: 6%;
}

.team__socialPlatform {
  padding: 0px 9px;
  font-size: 22px;
}

.Testimonials {
  width: 100%;
  height: auto;
  position: relative;
  background-image: linear-gradient(-45deg, #dc3545 33%, #dc3545 33.33%, #dc3545 66.666%, #dc3545 66.66%);
  background-blend-mode: soft-light;
}

.Testimonials::after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 40px;
  top: -27px;
  left: 0;
  display: block;
  background: linear-gradient(-45deg, transparent 33%, #fff 33.33%, #fff 66.666%, transparent 66.66%);
  background-size: 5px 26px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Testimonials__TestimonialDescription {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.Testimonials__testimonialTitle {
  color: white;
}

.Testimonials__testimonialDescription {
  color: white;
}

.Testimonials__comma {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 4%;
}

.Testimonials__text--opinion {
  width: 95%;
}

.Testimonials__textdetails--change {
  font-size: .99rem;
  line-height: 28px;
  font-style: italic;
}

.Testimonials__PicName {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.Testimonials__picture {
  width: 17%;
  height: auto;
}

.Testimonials__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.Testimonials__person {
  width: 78%;
  height: auto;
}

.Testimonials__person {
  color: #343a40;
  font-weight: 500;
}

.Testimonials__designation {
  font-size: 0.8rem;
  color: #aeafb1;
  font-style: italic;
}

.services, .article {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}

.services::before, .article::before {
  content: " ";
  position: absolute;
  background-image: url("../images/svg/YellowBlue.png");
  width: 48%;
  height: 25%;
  top: -53px;
  left: -40%;
  z-index: 3;
  -webkit-transform: rotate(171deg);
          transform: rotate(171deg);
  background-repeat: no-repeat;
}

.services::after, .article::after {
  content: " ";
  position: absolute;
  width: 9%;
  height: 25%;
  right: 0;
  bottom: -16%;
  z-index: 3;
  background-image: url("../images/svg/greenYellow.png");
  background-repeat: no-repeat;
}

.services__maincontents {
  position: relative;
}

.services__Titlepart, .gallery__GalleryDescription, .brand__BrandBrief, .article__ContentDetails {
  width: 85%;
}

.services__sectiontitle, .gallery__GalleryTitle, .brand__BrandTitle, .article__TitleBox {
  width: 100%;
  height: auto;
}

.services__servicesitems, .article__ArticleBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.services__ImageBox {
  width: 100%;
  height: auto;
}

.services__servicedetails {
  width: 100%;
  height: auto;
  padding: 2%;
}

.services__serviceTitle, .services__servicedescription {
  width: 80%;
  height: auto;
  padding: 2%;
  margin: 0 auto;
}

.services__serviceheading {
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 400;
}

.services__servicedescription {
  padding: 1%;
}

.services__ServiceDescription {
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}

.services__servicebutton {
  width: 80%;
  height: auto;
  padding: 5%;
  margin: 0 auto;
}

.services__btnService {
  color: #2e343c;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.services__btnService:hover {
  background-color: #007bff;
  color: white;
}

.gallery {
  width: 100%;
  height: auto;
  background-color: white;
}

.gallery__GalleryPorducts, .brand__BrandSection {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

.gallery__GalleryPortfolio {
  background-color: #343a40;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  cursor: pointer;
}

.gallery__GalleryPortfolio:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.brand {
  width: 100%;
  height: auto;
  background-color: white;
}

.brand__BrandLogo {
  width: 80%;
  height: auto;
  -webkit-transform: translate(2%);
          transform: translate(2%);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.brand__BrandLogo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner {
  width: 100%;
  height: auto;
  background-color: white;
}

.banner__BannerBackground {
  width: 100%;
  background-position: revert;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 109px 0;
  position: relative;
  z-index: 2;
}

.banner__BannerBackground::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  background-color: #2a57e5;
  z-index: -1;
  opacity: .95;
}

.banner__BannerContent {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
}

.banner__BannerDetail {
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
  height: auto;
  display: column;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  font-size: 1.2rem;
  color: white;
}

.banner__BannerTitle {
  padding-top: 4%;
}

.banner__bannerHeading {
  font-weight: 200;
  font-size: 3.5rem;
  margin-bottom: 0%;
  color: white;
}

.banner__BannerBrief {
  margin-top: 3%;
}

.banner__BannerButtonPart {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: column;
  -webkit-transform: translate(24%, 15%);
          transform: translate(24%, 15%);
}

.banner__BannerSimpleText {
  color: white;
  font-size: 0.97rem;
  font-weight: 300;
  text-transform: capitalize;
}

.banner__Bannerbtn {
  width: 74%;
  height: auto;
  background-color: transparent;
  color: #343a40;
  display: inline-block;
  border: 2px solid white;
  color: white;
  padding: 19px 19px 19px 19px;
  border-radius: 33px 33px 33px 33px;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0 8px 0 #d6ddec;
          box-shadow: 0 0 8px 0 #d6ddec;
  -webkit-transform: translate(-16%, 16%);
          transform: translate(-16%, 16%);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  opacity: .89;
  text-align: center;
}

.banner__Bannerbtn:hover {
  color: #080707;
  background-color: white;
}

.article::before {
  top: -28px;
}

.article::after {
  bottom: 2%;
}

.article__TitleTag {
  width: 100%;
  height: auto;
  display: block;
  color: #17a2b8;
  padding: 3%;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-style: italic;
  cursor: pointer;
}

.article__ArticleTitle {
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 2%;
  line-height: 30px;
  font-weight: 500;
  font-size: 1.1rem;
  font-style: italic;
  position: relative;
}

.article__ArticleTitle::before {
  width: 46%;
  height: 3px;
  background-color: #6f42c1;
  content: "";
  position: absolute;
  top: 47%;
  left: 2%;
}

.article__author {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
  padding-bottom: 4%;
}

.article__AuthorImageBox {
  width: 10%;
  height: auto;
}

.article__writerImage {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

.article__ArticleDateBox {
  width: 70%;
  height: auto;
}

.article__ArticlePublishedDate {
  font-size: 1rem;
  color: #aeafb1;
}

.article__AuthorName {
  font-size: .85rem;
  color: #17a2b8;
  margin-right: 1%;
  cursor: pointer;
}

.article__ArticleCommentBox {
  width: 9%;
  height: auto;
  margin-right: 7%;
}

.article__ArticleComment {
  font-size: .85rem;
  color: #a49c9c;
  cursor: pointer;
}

.article__ArticleBtnBox {
  width: 35%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7%;
  padding-bottom: 8%;
}

.article__ArticleBtn {
  border: 1.7px solid #2186f1;
  color: #2186f1;
  padding: 1.2%;
  text-transform: capitalize;
  font-weight: 300;
  font-size: .94rem;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.article__ArticleBtn:hover {
  background-color: #2186f1;
  border: 1.7px solid transparent;
  color: white;
}

.subscribe {
  width: 100%;
  height: auto;
  background-color: #ecf2ff;
}

.subscribe__maincontent {
  padding-top: 7%;
  padding-bottom: 7%;
}

.subscribe__SubscribeBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe__SubscribeTitle {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__SubscribeHeading {
  font-weight: 200;
  font-size: 3rem;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  text-shadow: 0 0 0 transparent;
  text-align: center;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
}

.subscribe__SubscribeDescription {
  width: 37%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
}

.subscribe__SubscribeBrief {
  font-size: 1.2rem;
  color: #4a9bae;
  padding: 0px 0px 0px 0px;
  font-weight: 200;
  text-align: left;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
}

.subscribe__SubscribeMail {
  width: 34%;
  height: auto;
  padding: 2%;
  position: relative;
}

.subscribe__Sform {
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
}

.subscribe__SubscribeSearch {
  width: 71.3%;
  height: auto;
  padding: 12px 12px 12px 12px;
  border: 1px solid #d9d9d9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: italic;
  position: relative;
  border-right: none;
}

.subscribe__SubscribeBtn {
  width: 25%;
  height: auto;
  padding: 14px 12px 12px 12px;
  position: absolute;
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: #db4352;
  left: 258px;
  color: white;
  z-index: 12;
  border: 1px solid transparent;
  cursor: pointer;
}

.address, .GlitteringBox, .CompanySocialIcon {
  width: 100%;
  height: auto;
  background-color: #291734;
}

.address__AddressElements, .GlitteringBox__GlitteringDiv {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__FormBox {
  width: 58%;
  height: auto;
}

.address__FormTitle {
  width: 100%;
  height: auto;
  padding: 2%;
}

.address__FormHeading {
  color: white;
}

.address__ContactForm {
  width: 100%;
  height: auto;
  padding: 2%;
}

.address__CtForm {
  width: 100%;
  height: auto;
}

.address__Name {
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2.5%;
}

.address label, .GlitteringBox label, .CompanySocialIcon label {
  width: 100%;
  height: auto;
  display: block;
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
  padding-top: 1.3%;
  padding-bottom: 2%;
}

.address__Input {
  width: 46%;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid transparent;
  font-weight: 100;
  background-color: white;
  text-transform: capitalize;
  font-style: italic;
  color: #847f7f;
  font-size: .98rem;
}

.address__Input--FirstName {
  margin-right: 2%;
}

.address__Input--email {
  width: 94.5%;
  text-align: left;
  text-transform: lowercase;
}

.address__Input--textArea {
  width: 94.5%;
}

.address__Input--btn {
  width: 25%;
  padding: 15px 15px 22px 7px;
  margin-top: 5%;
  background-color: #aeafb1;
  color: #343a40;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  cursor: pointer;
}

.address__Input--btn:hover {
  background-color: #6c757d;
  color: #f8faff;
}

.address__AddressDiv {
  width: 35%;
  height: auto;
  padding: 4%;
  margin-left: 6%;
}

.address__OfficeAddress {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.address__TitleAddress, .address__TitleWorking {
  font-size: 1rem;
  padding-left: 2%;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.address__OfficeLocation, .address__PhoneNumber, .address__WorkingHeading {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 6%;
  color: white;
  text-align: left;
  font-size: 1rem;
  padding-left: 2%;
}

.address__OfficePhone, .address__WorkingHour {
  margin-top: 6%;
  width: 100%;
  height: auto;
}

.address__WorkingHeading:last-child {
  margin-top: 1%;
}

.GlitteringBox__Glittering {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(86, 86, 120, 0.1)), color-stop(50%, rgba(86, 86, 120, 0.6)), to(rgba(86, 86, 120, 0.1)));
  background-image: linear-gradient(to right, rgba(86, 86, 120, 0.1) 0, rgba(86, 86, 120, 0.6) 50%, rgba(86, 86, 120, 0.1) 100%);
  width: 90%;
  height: 1.2px;
  margin: 0 auto;
  overflow: hidden;
}

.CompanySocialIcon__IconBox {
  width: 40%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CompanySocialIcon__Icon {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  height: auto;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}

.CompanySocialIcon i {
  padding: 2%;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.CompanySocialIcon i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer {
  width: 100%;
  height: auto;
  background-color: #180d1f;
  padding: 1%;
}

.footer__FooterBody {
  width: 46%;
  height: auto;
  padding: 1%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__TemplateCreator {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: auto;
  margin: 0 auto;
}

.footer__TemplateCreator:first-child {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  border-right: 1px solid white;
  padding-right: .9%;
}

.footer__TemplateCreator:last-child {
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
}

.footer__Name {
  color: white;
  display: block;
  font-size: .9rem;
}

.footer__NameLink {
  color: white;
  font-size: .9rem;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.footer__NameLink:hover {
  color: #aeafb1;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */