    // all colors
    $blue: rgb(33, 134, 241);
    $indigo: rgb(102, 16, 242);
    $purple: rgb(111, 66, 193);
    $pink: rgb(232, 62, 140);
    $red: rgb(220, 53, 69);
    $orange: rgb(253, 126, 20);
    $yellow: rgb(255, 193, 7);
    $green: rgb(40, 167, 69);
    $teal: rgb(32, 201, 151);
    $transparent:transparent;
    $cyan: rgb(22, 191, 218);
    $white: rgb(255, 255, 255);
    $gray: rgb(108, 117, 125);
    $grayLight:rgb(174, 175, 177);
    $gray-dark: rgb(52, 58, 64);
    $primary: rgb(0, 123, 255);
    $secondary: rgb(108, 117, 125);
    $success: rgb(40, 167, 69);
    $info: rgb(23, 162, 184);
    $warning: rgb(255, 193, 7);
    $danger: rgb(219, 67, 82);
    $light: rgb(248, 249, 250);
    $dark: rgb(52, 58, 64);
    $moreDark:rgb(46, 52, 60);
    $black: rgb(8, 7, 7);
    $graybtn:rgb(214, 221, 236);
    $graybn:rgb(248, 250, 255);
    $shadowWhite:rgb(221, 223, 230);
    $bannerblue: rgba(42,87, 229,1);
    $SubscribeColor: rgba(236, 242, 255,1);
    $Contact:rgb(41, 23, 52);
    $Footer:rgb(24, 13, 31);

    // solid color ends
    // rgb(170, 172, 175);


    