// font variables
$fontFamily:'Poppins', sans-serif;
// font-sizes
$BiggerFont:3.5rem;
$BigFont:3rem;
$titleFont: 2.4rem;
$titleSecond:1.9rem;
$titleThird:1.8rem;
$FontSoft:1.2rem;
$titleFourth:1.3rem;
$paragraphFont:1.1rem;
$btnFont:1.09rem;
$titleFifth:1rem;
$UnderOne:.97rem;
$SmallTypeFont:.96rem;
$titleSixth:.9rem;
$SmallFont:.8rem;
// font-weights
$ultraThin:100;
$extraLight:200;
$Light:300;
$Regular:400;
$Medium:500;
$SemiBold:600;
$Bold:700;
$ExtraBold:800;
$SuperBold:900;
// line height
$lineHeight:28px;
