// glittering section starts
.GlitteringBox{
    @extend .address;
    &__GlitteringDiv{
        @extend .address__AddressElements;
    }
    &__Glittering{
        background-image:linear-gradient(to right, rgba(86,86,120,0.1) 0, rgba(86,86,120,0.6) 50%, rgba(86,86,120,0.1) 100%);
        width: 90%;
        height: 1.2px;
        margin: 0 auto;
        overflow: hidden;
    }
}


